@keyframes rotatecube {
	0% {
		transform: rotate3d(0, 0, 0, 0) ;
	}
	100% {
		transform: rotate3d(0, 1, 0, 360deg); 
	}
}

@mixin lid-rotate($size) {
	$offset: 0.01 * $size;
	animation: rotatelid 3s infinite linear;
	@keyframes rotatelid {
		0% { transform: translate3d(0, 0, 0) rotateX(0) }
		5% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg) }
		10% { transform: translate3d(0, -$offset, $offset / 2) rotateX(-5deg) }
		15% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg) }
		20% { transform: translate3d(0, -$offset, $offset / 2) rotateX(-5deg) }
		25% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg)}
		30% { transform: translate3d(0, 0, 0) rotateX(0) }
	}
}

