@import "./constants";

@keyframes rotatecube {
	0% {
		transform: rotate3d(0, 0, 0, 0);
    }
    50% {
		transform: rotate3d(0, 1, 0, 360deg); 
    }
	100% {
		transform: rotate3d(0, 1, 0, 760deg);
	}
}

@keyframes hop-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@mixin zoom-in($scale) {
    animation: zoom $zoom-in-duration ease-out $zoom-in-delay;
    animation-fill-mode: forwards;
    @keyframes zoom {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale($scale);
        }
    }

}

@keyframes run-past {
    @for $i from 0 through 20 {
        #{$i * 5%} {
            @if $i % 2 == 0 {
                transform: translate($i * 15.2vw, 1vh);
            }
            @else {
                transform: translate($i * 15.2vw, -1vh);
            }
        }
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    95% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }
    95% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes moon-rise {
    0% {
        transform: translateY(100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@mixin lid-rotate($size) {
	$offset: 0.01 * $size;
    animation: rotatelid $rotate-lid-duration linear $rotate-lid-delay;
    animation-fill-mode: forwards;
	@keyframes rotatelid {
		0% { transform: translate3d(0, 0, 0) rotateX(0) }
		2% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg) }
		4% { transform: translate3d(0, -$offset, $offset / 2) rotateX(-5deg) }
		6% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg) }
		8% { transform: translate3d(0, -$offset, $offset / 2) rotateX(-5deg) }
		10% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg)}
        12% { transform: translate3d(0, 0, 0) rotateX(0) }
        40% { transform: translate3d(0, 0, 0) rotateX(0) }
		42% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg) }
		44% { transform: translate3d(0, -$offset, $offset / 2) rotateX(-5deg) }
		46% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg) }
		48% { transform: translate3d(0, -$offset, $offset / 2) rotateX(-5deg) }
		50% { transform: translate3d(0, -$offset, -$offset / 2) rotateX(5deg)}
        52% { transform: translate3d(0, 0, 0) rotateX(0) }
        80% { transform: translateY(0vh) translateX(0vw) }
        85% { transform: translateY(-10vh) translateX(-5vh) translateZ(5vh) rotateZ(-110deg) }
        100% { transform: translateY(60vh) translateX(-10vh) translateZ(10vh) rotateZ(-180deg) }
	}
}

@keyframes free-fall-front {
    100% {
        transform: rotateX(-90deg) translateZ(60vh) translateY(-60vh);
        opacity: 0;
    }
}
@keyframes free-fall-back {
    100% {
        transform: rotateX(90deg) translateZ(-60vh) translateY(-60vh);
        opacity: 0;
    }
}
@keyframes free-fall-left {
    100% {
        transform: rotateY(90deg) translateZ(-60vh) translateY(60vh);
        opacity: 0;
    }
}
@keyframes free-fall-right{
    100% {
        transform: rotateY(90deg) rotateX(-90deg) translateZ(60vh);
        opacity: 0;
    }
}
@keyframes free-fall-bottom{
    100% {
        transform: rotateX(90deg) translateZ(-60vh);
    }
}