@import './styles/components/box.scss';
@import './styles/components/lights.scss';
@import './styles/components/snowflakes.scss';

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	margin: 0;
    background-color: gray;
    overflow: hidden;
}
$radial-bg: radial-gradient(circle at 80.5vw calc(125vh + 7.5vw), $gold 0%, $blue-night-light 13%, $blue-night-dark);

.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: animate-background 4s linear 1s;
    animation-fill-mode: forwards;
    background: $radial-bg;
    @include box-styles($size: 5vw);
}

@keyframes animate-background {
    @for $i from 0 through 100 {
        #{$i * 1%} {
            background: radial-gradient(circle at 80.5vw calc(125vh + 7.5vw - (#{$i} * 1vh)), $gold 0%, $blue-night-light 13%, $blue-night-dark);
        }
    }
}

.app-body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
    height: 100vh;
    overflow: hidden;
    will-change: transform;
    animation: zoom-in $zoom-in-duration ease-out $zoom-in-delay;
    animation-fill-mode: forwards;
}

.box-container {
    width: 15vw;
    height: calc(50vh + 10vw);
    margin-left: 73vw;
    margin-right: 12vw;
    perspective: 100vh;
    perspective-origin: top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
    animation: hop-in $hop-in-duration ease-out $hop-in-delay;
    opacity: 0;
    animation-fill-mode: forwards;
}

.snow-field {
    z-index: 3;
    position: absolute;
    left: 0;
    bottom: -1vh;
    right: 0;
    width: 100vw;
    max-width: 1200px;
    animation: slide-in-bottom $slide-in-bottom-duration ease-in $slide-in-bottom-delay;
    animation-fill-mode: forwards;
    will-change: transform;
    opacity: 0;
    img {
        width: 100%;
    }
}

.christmas-tree {
    position: absolute;
    bottom: 2vw;
    max-width: 20vw;
    img {
        width: 100%;
    }
}

.moon {
    position: absolute;
    top: 25vh;
    right: 12vw;
    width: 15vw;
    animation: moon-rise 4s linear 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    img {
        width: 100%;
    }
}

.sleigh {
    position: absolute;
    top: calc(25vh + 1vw);
    left: -26vw;
    width: 13vw;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    animation: run-past $run-past-duration ease-out $run-past-delay;
    animation-fill-mode: forwards;
    img {
        width: 100%;
    }
}

.fullscreen-button {
    position: absolute;
    z-index: 5;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $gold;
    background-color: $faded-gold;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 50%;
    img {
        width: 100%;
    }
}